{% extends 'pushpak/base.html' %}
{% block bg %}
	<section id="languagesWrapper">
		<h2 class="h202">Languages I Know</h2>
		<div class="imageWrapper">
			<img src="https://images.pexels.com/photos/270366/pexels-photo-270366.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="pushpak-tiwari"/>
		</div>
		<div class="languagesContainer">
			<h3>Front-End Technologies</h3>
			<ul>
				<li>html</li>
				<li>css</li>
				<li>javascript</li>
			</ul>	
		</div>

		<div class="languagesContainer">
			<h3>Back-End Technologies</h3>
			<ul>
				<li>Python</li>
			</ul>	
		</div>

		<div class="languagesContainer">
			<h3>Web Framework</h3>
			<ul>
				<li>Django</li>
			</ul>	
		</div>
		<div class="languagesContainer">
			<h3>My Thought about to become successful person</h3>
			<ul>
				<li>to become an successful developer or programmer or anything. You do not need to become an expert but you must have to know how things actually work. This is the practical way to achieve success in anything.</li>
			</ul>	
		</div>
	</section>
{% endblock %}